<!DOCTYPE html>
<html>

<head>
  <title>Forum Page</title>
  <style>
    .user-area {
      text-align: right;
      padding: 15px 0;
    }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
  <script>
    $(document).ready(function () {
      $.ajax({
        url: '/get_message',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
          fillTable(data);
        },
        error: function (xhr, status, error) {
          console.log('Error: ' + error);
        }
      });
    });
    function fillTable(data) {
      var table = $('#myTable').DataTable();

      table.clear().draw();
      $.each(data, function (index, row) {
        var img = document.createElement('img');
        img.src = row.image;
        img.style.width = "100px";
        img.style.width = "100px";
        table.row.add([row.medicine, '', row.address, row.user, row.phone_number, row.timestamp, '']).draw();

        var cell = table.cell(index, 1).node();
        cell.appendChild(img);

        var removeButton = document.createElement('button');
        removeButton.innerHTML = 'Remove';
        removeButton.addEventListener('click', () => {
          console.log("remove")
          removeMessage(row);
        });
        var cell_6 = table.cell(index, 6).node();
        cell_6.appendChild(removeButton)

      });
    }

    function removeMessage(message) {
      console.log(message.medicine)
      // remove record from db
      fetch("/remove_message", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          medicine: message.medicine,
          timestamp: message.timestamp,
          user_name : message.user
        })
      }
      ).then(response => response.json())
        .then(data => {
          console.log(data);
        }
        ).catch(error => console.error(error));
      location.reload()
    }

  </script>
</head>

<body>
  <div class="container">
    <h2>Forum Page</h2>
    <div class="user-area">
      <p>Welcome, {{ user_name }}</a></p>
      <a href="/logout" class="logout-link">Logout</a>
    </div>

    <div class="message-posting-area">
      <form action="/post_message" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="message">Medicine:</label>
          <input type="text" class="form-control" id="message" name="message" required>
        </div>
        <div class="form-group">
          <label for="address">Address:</label>
          <input type="text" class="form-control" id="address" name="address" required>
        </div>
        <div class="form-group">
          <label for="image">Image:</label>
          <input type="file" class="form-control-file" id="image" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div class="message-display-area">
      <h2>Medicine Information</h2>
      <table id="myTable" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Medicine</th>
            <th>image</th>
            <th>Address</th>
            <th>user</th>
            <th>Phone number</th>
            <th>timestamp</th>
            <th>operation</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</body>

</html>